<div ng-controller="HelpController">
    <marked>
        ### Help on Marcdown
        Marcdown is a simple online Markdown editor. It allows you to type your markdown text content and see the output instantly on the
        right pane. You can also download the markdown text you wrote as a text file, markdown file or a pdf.  
          
        ### What is markdown?
        Markdown is a lightweight markup language which is used to convert your text files into various other formats. Markdown is extensively
        used as README files as a part of repositories on github and on many other sites.  
          
        ### How do I learn to write Markdown text?
        Writing your first Markdown text isn't tricky at all. Its possibly the easiest thing you could learn today. In fact, this help page is written
        in Markdown.
        For instance, your could
        write a text in bold by simply writing your content within two asteriks (\*).  
        Thus, `**yourtext**` will look like **yourtext**.

        **Further reading**
        1. [Wikipedia](https://en.wikipedia.org/wiki/Markdown)  
        2. [Excellent guide to Mardown by Visual Studio Team Services](https://msdn.microsoft.com/Library/vs/alm/overview/reference/markdown-guidance)  
        3. [Github flavored Markdown](https://guides.github.com/features/mastering-markdown/)  
           
        *If you are interested to know how this was created, have a look at the [github repository]().*

        **Marcdown is crafted by [Clyde D'Souza](http://goo.gl/8yXVaA)**
    </marked>
</div>